body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}



header {
    width: 80%;
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 13%;
    width: 5%;
    // padding: 4%;
    // right: 100%;
    // top: 20%;
    // margin-left:43%;
}
.switcher{
    margin-block: 40%;
    float: left;
    position: relative;
    display: inline;
    // margin-left: 2900%;
    scroll-margin-inline-end: 500%;
}