.account{
    text-align: center;    
    margin: 0 auto;    
    text-align:left;    
    margin: 0 auto;      
    text-align: center
}

.css-dev-only-do-not-override-15jgfu7
.ant-upload-wrapper 
.ant-upload-list {
    line-height: 9.571429;
}
.css-dev-only-do-not-override-1ct6cg.ant-card .ant-card-body {
    padding: 13px;
}
.info{
    margin-left: 620px;
    display: table-cell
}

.avatar{
    width: 320px; 
    float: left;  
    display: table-cell
}




