.account {
  text-align: center;
  margin: 0 auto;
  text-align: left;
  margin: 0 auto;
  text-align: center;
}

.css-dev-only-do-not-override-15jgfu7 .ant-upload-wrapper .ant-upload-list {
  line-height: 9.571429;
}

.info {
  margin-left: 620px;
  display: table-cell;
}

.header-container {
    width: 100vw;
    background-color: #F4F4F4;
    border-color: blue;

    .ant-card-body {
        gap: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .app-logo {
            width: 150px;
        }

        .search-container {
            width: 100%;
            gap: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            .search-container-actions {
                width: 100px;
                display: flex;
                gap: 5px;
                flex-direction: column;

                button {
                    width: 100%;
                }
            }
        }
    }
}

.avatar-edit .ant-upload-wrapper {
  display: flex !important;
  height: 100% !important;
  width: 100% !important;
  align-items: center !important;
  justify-content: center !important;
}
