.dashboard {
  display: flex;
  background-color: #F4F4F4;
  border-color: red;

  aside {
    height: 100vh;
    border-right: 1px solid blue;

    .navigation {
      height: 100vh;
    }
  }

  .dashboard-section {
    width: -webkit-fill-available;
    max-width: calc(100vw - 201px);
    padding: 10px;
  }
}
.ant-menu{
  background-color:#F4F4F4;  
}

