.dashboard {
  display: flex;
  background-color: #F4F4F4;
  border-color: red;

  aside {
    height: 100vh;

    .navigation {
      height: 100vh;
    }
  }
}
.ant-menu{
  background-color:#F4F4F4;  
}

