@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
body {
  
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat";
}
.main {
    max-width: 960px;
    margin: 0px auto;
    padding: 0px 15px;
    min-height: 100vh;
}
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    
}
.notes__title {
    margin: 10px 0;
    color: #7d7a7a;
    font-size: 38px;
    font-family: "Montserrat";
    font-weight: 400;
    margin: auto;
    width: 10%;
    padding: 10px;
}
.notes {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
}
@media screen and (max-width: 900px) {
    .notes {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}
@media screen and (max-width: 500px) {
    .notes {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
}


.note {
    background: #dadde0;
    backdrop-filter: blur(5px);
    box-shadow: inset -6px -4px 2px rgba(59, 6, 216, 0.03);
    border-radius: 15px;
    border: 1.5px solid #5e5b5b;
    color: #4f5253;
    padding: 15px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
}
.noteTitle {
    background: rgba(155, 153, 151, 0.241);
    backdrop-filter: blur(5px);
    box-shadow: inset -6px -4px 2px rgba(102, 72, 193, 0.03);
    border-radius: 15px;
    border: 1.5px solid rgba(84, 85, 87, 0.945);
    color: #0d0d0d;
    padding: 6px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
}
.note__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.note textarea {
    white-space: pre-wrap;
    background: transparent;
    border: none;
    color: hsl(0, 0%, 1%);
    resize: none;
    font-size: 18px;
}
.note textarea:focus {
    outline: none;
}
.note textarea::placeholder {
    color: #8f8f90;
}
.note__save {
    background: transparent;
    transition: 0.1s ease-in-out;
    border: 1.5px solid #5f5e5f;
    border-radius: 10px;
    color: #181718;
    padding: 4px 10px;
    font-size: 13px;
    cursor: pointer;
}
/* .note__save:hover {
    background: #69696b;
    border: 1.5px solid #ec1dc6;
    color: #f3081c;
} */
.note__delete {
    cursor: pointer;
}
.note__delete:hover {
    transform: scale(1.1);
}
/* .char__progress {
    background-color: #f8ddca!important;
} */
