@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
body {
  
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat";
}
.main {
    max-width: 960px;
    margin: 0px auto;
    padding: 0px 15px;
    min-height: 100vh;
}
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}
.notes__title {
    color: #640bc3;
    font-size: 38px;
    font-family: "Montserrat";
    font-weight: 400;
}
.notes {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
}
@media screen and (max-width: 900px) {
    .notes {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}
@media screen and (max-width: 500px) {
    .notes {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
}


.note {
    background: #90cbf9;
    backdrop-filter: blur(5px);
    box-shadow: inset -6px -4px 2px rgba(59, 6, 216, 0.03);
    border-radius: 15px;
    border: 1.5px solid #90e0ef;
    color: #0077b6;
    padding: 15px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
}
.noteTitle {
    background: rgba(202, 239, 18, 0.915);
    backdrop-filter: blur(5px);
    box-shadow: inset -6px -4px 2px rgba(102, 72, 193, 0.03);
    border-radius: 15px;
    border: 1.5px solid rgba(23, 179, 41, 0.945);
    color: #460d17;
    padding: 6px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
}
.note__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.note textarea {
    white-space: pre-wrap;
    background: transparent;
    border: none;
    color: hsl(0, 0%, 1%);
    resize: none;
    font-size: 18px;
}
.note textarea:focus {
    outline: none;
}
.note textarea::placeholder {
    color: #5e6aee;
}
.note__save {
    background: transparent;
    transition: 0.1s ease-in-out;
    border: 1.5px solid #221cdd;
    border-radius: 10px;
    color: #5536de;
    padding: 4px 10px;
    font-size: 13px;
    cursor: pointer;
}
.note__save:hover {
    background: #636ff1;
    border: 1.5px solid #1d2eec;
    color: #3f08f3;
}
.note__delete {
    cursor: pointer;
}
.note__delete:hover {
    transform: scale(1.1);
}
.char__progress {
    background-color: #caf0f8!important;
}
