.logo{
    width: 5%;
    height: 8%;
    max-width: 100%;
}
.resetCard{
    margin-left: 35%;
    height: 45%;
    border-radius: 12%;
}
.register{
    border-radius: 15px;
    width: 100%;
    position: relative;
    display: inline-grid;
}
.passwordInput{
    border-radius: 15px;
}
.confirmInput{
    border-radius: 15px;
}
.submit-form-button{
    border-radius: 15px;
}